<% if @quote.errors.full_messages.present? %>
	<p><%= @quote.errors.full_messages %></p>
<% end %>

<%= form_for @quote do |f| %>
	<%= f.label :quote, "Enter quote text" %><%= f.text_area :quote, :size => "200x3" %>
	<%= f.label :teacher, "Enter teacher\'s name" %><%= f.text_field :teacher %>
	<%= f.label :source, "State source from which you took the quote" %>
	<em>(book name and page / lecture place, date and time / URL of a webpage)</em><br />
	<%= f.text_field :source %>
	<%= f.label :posted_by, "Enter your email" %><%= f.email_field :posted_by %>
	<br />
	<% if params[:edit] == "admin" %>
		<%= f.check_box :verification %><%= f.label :verification, "Verify quote" %>
	<% end %>
	<br />
	<%= f.submit :class => "btn btn-small" %>
<% end %>