<%= render 'admin_menu' %>

<h1>List of quotes</h1>

<ul>
  <% @quotes.each do |quote| %>
	<li>
		<p>
		 <strong>"<%= quote.quote %>"</strong>
		 <br>by <%= quote.teacher%>
		 <br><%= link_to 'Detail', quote_url(quote.id) %> | <%= link_to 'Edit', edit_url(quote.id) %> | <%= link_to 'Delete', quote_url(quote.id), :confirm => 'Are you sure?', :method => :delete %>
		</p>
	</li>
  <% end %>
</ul>