<!-- HEADING -->
<div class="container header">
	<h3>Kagyu Daily Vitamin</h3>
</div>

<!-- QUOTE -->
<%= render 'quote_today', :quote => @quote %>

<!-- BUTTON -->
<div class="container">
	<%= button_to "more inspiration", today_url, :remote => true, :method => "get", :class => "btn btn-small" %>
	<!-- <a href="#" class="btn btn-small" type="button" onClick="window.location.reload( true );">more inspiration</a> -->
<div>

<!-- FOOTER -->
<div class="container footer">
		<p class="muted"><br><br>
			<%= link_to 'Add quote', new_url %> | <%= mail_to 'tomas.gregor@me.com', 'Contact' %>
		</p>
</div>

<%= render 'google_analytics' %>




