<!-- HEADING -->
<div class="container header">
	<h3>Kagyu Daily Vitamin</h3>
</div>

<!-- QUOTE -->
<div class="container header">
	<p class="lead"><a href="#" onClick="window.location.reload( true );">"<%= @quote_today.quote %>"</a></p>
	<p class>
		<cite>
			<%= @quote_today.teacher %>
		</cite>
	</p>
	<br>
</div>

<!-- BUTTON -->
<div class="container">
	<a href="#" class="btn btn-small" type="button" onClick="window.location.reload( true );">more inspiration</a>
<div>

<!-- FOOTER -->
<div class="container footer">
		<p class="muted"><br><br>
			<%= link_to 'Add quote', new_url %> | <%= mail_to 'tomas.gregor@me.com', 'Contact' %>
		</p>
</div>

<%= render 'google_analytics' %>




